

nav a {
    color: #00ff00;
    background-color: blue;
    padding: 10px 20px;
    border: 2px solid #00ff00;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
  }

nav a:hover {
    color: white; 
}


nav ul {
    display: flex;
    gap: 10px;
    list-style: none; /* Removes bullet points */
}

h1 {
    color: blue;
    }
h2 {
    color: #cc3300;    
}
h3 {
    color: green;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
}




