
.box {
    height: 200px;
    width: 200px;
    border: 3px solid rosybrown;
    background: darkkhaki;
  }
  
  .container {
    height: 400px;
    background-color: goldenrod;
  
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }

nav a {
    color: #00ff00;
    background-color: blue;
    padding: 10px 20px;
    border: 2px solid #00ff00;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
  }

main {
    background-color: antiquewhite;
}
  header {
    background-color: rosybrown;
}

nav a:hover {
    color: white; 
}

nav ul {
    display: flex;
    gap: 10px;
    list-style: none; /* Removes bullet points */
}

nav {
    height: 5rem;
    background-color: burlywood;
    padding: 2px;
}

h1 {
    color: blue;
    }
h2 {
    color: #cc3300;    
}
h3 {
    color: green;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: wheat;
}

footer {
    background-color: cadetblue;
    height: 3rem;
}




